.navbar.navbar-default.navbar-fixed-bottom
	ul.nav.nav-justified
		li
			a(href="manage.html").glyphicon.glyphicon-home &nbsp;待审批
		li
			a(href="index.html").glyphicon.glyphicon-star &nbsp;我的请假
		li
			a(href="apply.html").glyphicon.glyphicon-star &nbsp;请假
