.navbar.navbar-default.navbar-fixed-top
	h4.nav.nav-justified
		li.text-center 请假管理
		a.btn.btn-default(href="javascript:;" id="menu-toggle")
			span.glyphicon.glyphicon-align-justify.pull-left &nbsp;