extends ./layout/layout

block content
	div.container
		div.row
			div.col-md-6
				.thumbnail
					img(src="images/product-3.jpg" width="100%")
					h4 互动屏幕
					p 与电视或液晶屏相连接，通过互联网动态更新内容
			div.col-md-6
				.thumbnail
					img(src="images/slider-1.jpg" width ="100%")
					h4 微信摇一摇
					p 与微信“摇一摇”功能对接，有效与用户互动
		.row
			.col-md-12
				h3 我的地盘，我做主
				p 拥有一个大屏，你就是广告主。
				p 同一商圈广告主多了，通过互换就形成一种业态，相互支持，相互帮衬。
				p 同一商圈的抱团式营销，比单独广告的口碑效应更佳。
		.row
			.col-md-12
				h4 我的地盘，我做主 —— 周边营销(LBA)中的 O2O
				p LBA 是 Location Based Advertising的简称，是指基于地理位置的广告，其涵盖广告展示、广告推送以及广告交换等。
				p 传统的LBA，通过分析用户行为，计算用户喜好，从而推送其认为合适的广告给用户，这不可避免带来用户隐私的麻烦。如果我们改变一下方式，通过互动大屏，让用户主动找商家，就能有效避免用户隐私的困扰。
				p 现实生活中的很多服务广告，是与我们生活的周边环境和位置有关的。你生活在北京东城区，应该极少关心海淀区的广告。因此出现了像大众点评中”按商圈查找“，但这仍不具体，范围仍太大、太空泛。光在手机中查找，不能形成一个”商业氛围“，没有用户体验。

				p 品牌商其实更希望把商店的具体位置通过广告形式告诉顾客，如果你正购物中心餐厅吃饭，一条广告告诉你：“一楼 LV 有新款包包到货“，而且有款式的展示，介绍，你是不是很心动，吃完饭回去看看呢？这就是”诱导冲动消费“。
				h4 诱导冲动消费，必须具备：
				ul 
					li 一 是视觉冲击
					li 二 是时空距离合适
					li 三 是商业氛围恰当
				p LBA让O2O回归现实，不再触不可及！
		hr
		.row
			.col-md-4
				img(src="images/slide-1.jpg" width="100%")
			.col-md-8
				h3 LBA 广告展示
				p 通过大屏展示，将广告信息扩散到2公里以内的区域，让用户可达，可体验。
				p 通过高品质视觉冲击，增强现实，诱导用户参与互动。
		hr
		.row
			.col-md-8
				h3 LBA 广告交换
				p 通过差异化不竞争业态的广告互换，降低广告投放成本。
				p 通过”消费联想“，激发用户的联想消费冲动，促成用户到店并体验消费。
			.col-md-4
				img(src="images/slider-1.jpg" width="100%")
		hr
		.row
			.col-md-4
				img(src="images/slider-1.jpg" width="100%")
			.col-md-8
				h3 LBA 广告索取
				p 利用当前最流行的微信App，结合微信”摇一摇“，用户只需在大屏的提示下”摇一摇“，就可以在智能手机上查看广告详情。
				p ”摇一摇“减少了用户获取广告的时间，既保护了用户隐私，又可以实现广告的精准投放，直接触碰潜在用户。
		hr
		.row
			.col-md-8
				h3 LBA 广告推送
				p 试想一下当有用户从你店面前走过时，她收到一条店前广告，进而进店消费，你是不是很惊喜！
				p 将周边的客源引到店内消费，形成即时消费，充分发挥广告的最大的导流效益。
				p 每一次广告效益都可衡量，实现按效果付费模式。
			.col-md-4
				img(src="images/slider-1.jpg" width="100%")
