extends ./layout/layout

block content
	.container
		.row
			img(src="images/scheme-1.png" width="100%")
		br
		.row
			.col-md-12
				p LBS 全称是Location Based Services，即基于位置的服务。LBS是基于地理信息技术将物理位置在电子地图或室内空间地图上定位，以此为基础而提供的空间信息服务。
				p 日常生活中的80%对信息的需求场景与位置有关，当你走在大街上或在购物时，你会发现周围的人都在使用手机。
		.row
			.col-md-12
				h4 室内定位系统
				p 基于传感器网络对用户进行室内定位：用户只要开启WiFi或蓝牙模块，无需用户使用App或接入网络，就能实现对用户定位。
				p 通过WiFi路由器与手机或其他终端的WiFi信号互相感知，以确定用户所在位置。可按区分楼层，定位精度可达3米以内，定位刷新频率可调，一般间隔为2~3秒。
		.row
			.col-md-6
				h4 WiFi 室内定位引擎
				p 基于WiFi网络设备，通过室内AP主动扫描用户智能手机，将信号传递回位置服务器，有服务器计算用户位置。其优点是用户智能手机无需下载和安装App。
			.col-md-6
				h4 iBeacon 室内定位引擎
				p 基于iBeacon蓝牙发射端，通过内置蓝牙芯片，与50米范围内的智能手机交互，发送与接收位置信息，定位精度可达1米以内。
		.row
			.col-md-4
				img(src="images/scheme-1.png" width="100%")
				p 实时位置
			.col-md-4
				img(src="images/scheme-1.png" width="100%")
				p 客流密度
			.col-md-4
				img(src="images/scheme-1.png" width="100%")
				p 客流轨迹
		br
		.row
			.col-md-4
				img(src="images/scheme-1.png" width="100%")
				p 驻留时间
			.col-md-4
				img(src="images/scheme-1.png" width="100%")
				p 到访频度
			.col-md-4
				img(src="images/scheme-1.png" width="100%")
				p 进店分析
		hr
		.row
			.col-md-8
				h4 小空间大数据
				p 小空间是指一个小的商业生态圈，大数据是指在这个商业氛围中存在的各种数据。空间大数据能帮您解决许多过去无法想象的复杂业务问题。从分析位置数据获取精准的洞察力，到分析运动轨迹数据把握曾经错过的商机。
			.col-md-4
				img(src="images/product-1.jpg" width="100%")
		hr
		.row
			.col-md-4
				img(src="images/product-1.jpg" width="100%")
			.col-md-8
				h4 一切源于传感器网络
				p 位置感知识别技术，包括卫星、WiFi、蓝牙等定位技术，通过获取空间的人或物的位置，将以位置维度组织起来的数据高效快捷的发挥作用。
		hr
		.row
			.col-md-8
				h4 网格化数据应用
				p 网格化多维度位置信息，包括人、物、活动、事件等，真正实现多维度数据在空间上的关联。
			.col-md-4
				img(src="images/product-1.jpg" width="100%")
		hr
		.row
			.col-md-4
				img(src="images/product-1.jpg" width="100%")
			.col-md-8
				h4 空间数据仓库
				p 非结构化数据、半结构化数据、结构化数据等多种数据格式存储与管理的异构数据库，适应空间大数据的复杂性、多样性及混沌性。
		hr
		.row
			.col-md-8
				h4 大数据挖掘
				p 利用神经网络等挖掘算法，保证空间大数据分析与计算的高度并行性、自适应与自组织特性，有很好的预测能力和控制能力，支持大数据的盲分析，从中获取不同的知识，为经营决策、企业管理、或提升用户体验提供重要依据。
			.col-md-4
				img(src="images/product-1.jpg" width="100%")



