extends ./layout/layout

block content
	div.container
		div.row
			div.col-md-8
				h3 MLB的两个棒球场已部署iBeacon感应器
				div.row
					div.col-md-4
						a(href='http://digi.163.com/14/0215/07/9L3UT6OL00162OUT.html' target='blank')
							img(src="images/news-1.jpg" width="100%")
						p cnbeta网站2014-02-15 06:50:04	
					div.col-md-8
						p 美国职业棒球大联盟（MLB）今日宣布，他们已经完成在两个棒球场中部署 iBeacon 感应器，这两个棒球场分别位于洛杉矶和圣地亚哥。两周前 MLB 就已经宣布，他们准备到 2014 年开赛日前在他们的 20 多个球场部署 iBeacon。如今，他们已经对洛杉矶道奇的主场道奇运动 场以及圣地亚哥的 Petco Park 完成部署了 65 个 iBeacon 感应器。

				hr
			div.col-md-4
