extends ./layout/layout

block content
	div.container
		div.row
			div.col-md-6
				.thumbnail
					img(src="images/product-3.jpg" width="100%")
					h4 互动屏幕
					p 与电视或液晶屏相连接，通过互联网动态更新内容
			div.col-md-6
				.thumbnail
					img(src="images/slider-1.jpg" width ="100%")
					h4 微信摇一摇
					p 与微信“摇一摇”功能对接，有效与用户互动
