extends ./layout/layout

block content
	.container
		.row
			.col-md-12
				h3 服务价格
		.row
			.col-md-12
				table.table.table-striped
					thead
						tr.info
							th 栏目
							th 内容
							th 单位
							th 价格
					tbody
						tr
							td 硬件产品
							td 应用播放设备，每个液晶屏一台
							td 台
							td 免费
						tr
							td 软件产品
							td 液晶屏播放软件及桌面管理系统
							td 套
							td 免费
						tr
							td 服务费
							td 按服务租赁收取使用费
							td 月
							td 98元
						tr
							td 广告制作
							td 制作广告
							td 套
							td 500元
						tr
							td 图片广告
							td 广发发布
							td 50屏/天(轮播)
							td 100元
						tr
							td 视频广告
							td 广发发布
							td 50屏/天(轮播)
							td 300元
						tr
							td 综合广告
							td 广发发布
							td 50屏/天(轮播)
							td 500元
