extends ./layout/layout

block content
	//product
	div(id='product') 
		h2 产品功能
		div.container
			img(src='images/product-4.jpg' width='80%')
		div.container
			div.row
				div.col-md-4
					h4 最新产品
					img(src="images/product-1.jpg" width='100%')
				div.col-md-4
					h4 微信摇一摇
					img(src="images/product-2.jpg" width='100%')
				div.col-md-4
					h4 大屏宣传海报
					img(src="images/product-3.jpg" width='100%')
