extends ./layout/layout

block content
	.container
		h4 观影O2O新体验：iBeacon摇一摇选座
		p 【亿邦动力网讯】3月13日消息，单向街旗下品牌潮Link-iBeacon与微影达成合作，消费者在影院通过手机微信“摇一摇”，不仅可以查看新片预告、影片评价和排片档期，还可以直接手机选座购票，截止目前此项服务已覆盖全国近1000家影院。
		p 通过潮Link-iBeacon设备，消费者现场微信“摇一摇”不仅可以直接关注公众号，享受提场购票服务，同时在等候观影的闲暇，还可摇出3D电影票、优惠券、红包、卡券等。
		img(src='images/theater-2.jpeg')
		p 通过潮Link-iBeacon设备，消费者现场微信“摇一摇”不仅可以直接关注公众号，享受提场购票服务，同时在等候观影的闲暇，还可摇出3D电影票、优惠券、红包、卡券等。
		img(src='images/theater-1.jpeg')
