script(type="text/template" id="template_content")
	h3.text-center
		block subject
	hr
	div(id="message")
	br
	form.form-horizontal(id="form")
		label
		textarea.form-control.input-lg(id="multi" type="text" placeholder="请输入多个姓名和身份证号对，以空格隔开")
		span.help-block
			code 样例：张三 11010120001212123;李四 110219991212123
		br
		a.btn.btn-primary.btn-lg.btn-block(href="javascript:;" id="submit") 查&nbsp;&nbsp;询
