div.container
	h2 案例展示
	hr
	.row
		//- .thumbnail
		.col-md-4
			img(src="images/hysy_zfjg.jpg")
			.caption
				h3 政府机关
				p 节约开支、智能办公，加快打造信息化办公
		.col-md-4
			img(src="images/hysy_yh.jpg")
			.caption
				h3 银行
				p 提升金融管理效率、客户服务品质，增强竞争
		.col-md-4
			img(src="images/hysy_syls.jpg")
			.caption
				h3 商业连锁
				p 营销内容快速定制，提升吸引力刺激消费
		.col-md-4
			img(src="images/hysy_bgjd.jpg")
			.caption
				h3 宾馆酒店
				p 专业、优质的服务，开启酒店运营便捷的大门
		.col-md-4
			img(src="images/hysy_znly.jpg")
			.caption
				h3 智能楼宇
				p 打造的富有时代气息的便捷数字社区体验
		.col-md-4
			img(src="images/hysy_txhy.jpg")
			.caption
				h3 通信行业
				p 提供直观、生动的信息展示，提升服务品质
		.col-md-4
			img(src="images/hysy_xxjy.jpg")
			.caption
				h3 学校教育
				p 以优质、高效的信息服务营造全新数字校园
		.col-md-4
			img(src="images/hysy_jccz.jpg")
			.caption
				h3 机场车站
				p 为乘客提供有价值的资讯，提升信息化水平
		.col-md-4
			img(src="images/hysy_yy.jpg")
			.caption
				h3 医院
				p 提高效率，普及保健知识，营造轻松就诊氛围
		.col-md-4
			img(src="images/hysy_qx.jpg")
			.caption
				h3 气象
				p 气象预警实时传达，加强对灾害的认知和引导防范
		.col-md-4
			img(src="images/hysy_hwgg.jpg")
			.caption
				h3 户外广告
				p 灵活实时的广告媒体，关注度及短期回报率高
		.col-md-4
			img(src="images/hysy_qygc.jpg")
			.caption
				h3 企业工厂
				p 集中控制和远程管理，实现信息发布数字化
		.col-md-4
			img(src="images/hysy_yl.jpg")
			.caption
				h3 娱乐
				p 引入社交媒体的体验与交流，传递及时有效
		.col-md-4
			img(src="images/hysy_qc.jpg")
			.caption
				h3 汽车4S店
				p 智能信息传播平台的载体，鼓励和增加消费
