div.container
	hr
	h5
		ul.nav.navbar-nav
			li
				a(href="#") 下载中心
			li
				a(href="price.html") 服务价格
			li
				a(href="news.html") 业界动态
			li
				a(href="faq.html") 常见问题
			li
				a(href="#") 代理加盟
			li
				a(href="#") 服务协议
			li
				a(href="#") 联系我们
p.text-center 来播网 @2014-2015 版权所有 苏ICP备14016208号-1
