nav.navbar.navbar-inverse.navbar-default.navbar-fixed-top
	div.container
		h5
			ul.nav.navbar-nav
				li.nav-brand
					img(src="images/logo-2.jpg" width="50px")
				li
					a(href="index.html") 首页
				li 
					a(href="product.html") O2O解决方案
				li
					a(href="index.html#business") 成功案例
				li
					a(href="#") 联系我们
