nav.navbar.navbar-inverse.navbar-default.navbar-fixed-top
	div.container
		h5
			ul.nav.navbar-nav
				li.nav-brand
					img(src="images/logo-2.jpg" width="50px")
				li
					a(href="index.html") 首页
				li 
					a(href="o2o.html") O2O解决方案
				li 
					a(href="lbs.html") 室内定位
				li 
					a(href="lba.html") LBA增值服务
				li
					a(href="product.html") 技术优势
				li
					a(href="story.html") 应用案例
				li
					a(href="free.html") 免费领取
				li
					a(href="#") 联系我们
