div.container
	h2 我们的优势
	hr
	div.row
		div.col-md-4
			img(src="images/product-3.jpg" width="100%")
		div.col-md-8
			h4 ”零成本“启动服务
			p 
	hr
	.row
		.col-md-8
			h4 免费提供系统
			p 包括硬件、软件等。
		.col-md-4
			.carousel.slide(data-ride="carousel")
				.carousel-inner
					.item.active
						img(src="images/product-1.jpg" width='100%')
					.item
						img(src="images/product-2.jpg" width='100%')
	hr
	div.row
		div.col-md-4
			img(src="images/product-3.jpg" width="100%")
		div.col-md-8
			h4 上门服务
			p 帮助用户实施部署系统。
	hr
	div.row
		div.col-md-8
			h4 &nbsp;
			p 产品特性
		div.col-md-4
			h4 软件产品
			img(src="images/product-3.jpg" width='100%')
	hr
	div.row
		div.col-md-4
			h4 物联网服务平台
			img(src="images/product-4.jpg" width='100%')
		div.col-md-8
			h4 &nbsp;
			p 产品特性
