div.container
	h2 产品功能
	hr
	div.row
		div.col-md-4
			h4 硬件产品
			.carousel.slide(data-ride="carousel")
				.carousel-inner
					.item.active
						img(src="images/product-1.jpg" width='100%')
					.item
						img(src="images/product-2.jpg" width='100%')
		div.col-md-8
			h4 &nbsp;
			p 产品特性
	hr
	div.row
		div.col-md-4
			h4 软件产品
			img(src="images/product-3.jpg" width='100%')
		div.col-md-8
			h4 &nbsp;
			p 产品特性
	hr
	div.row
		div.col-md-4
			h4 物联网服务平台
			img(src="images/product-4.jpg" width='100%')
		div.col-md-8
			h4 &nbsp;
			p 产品特性
