h4
	span.glyphicon.glyphicon-question-sign &nbsp;
	span 什么是微信摇一摇·周边？
p “摇一摇·周边”是微信提供的一种新的基于位置的连接方式
p 用户通过“摇一摇”的“周边”页卡，可以与线下商户进行互动，获得商户提供的个性化的服务
p 商户申请该功能后，需要在门店自主铺设支持iBeacon协议的蓝牙硬件，并在商户后台设置硬件和对应服务的关联
h4 是否所有拥有微信公众号的商户/个人都可以申请微信摇一摇·周边？
p 已经通过“微信认证”的服务号或者订阅号
p 已经开通“门店管理”，并且已开通至少一家门店


