extend ./layout/layout

block content
  .container
    table
      tr(valign='top')
        td(width='25%')
          | Box Plots
          br
          a(href='http://bl.ocks.org/mbostock/4061502')
            img(width='133', src='http://d3js.org/ex/box.png')
        |     
        td(width='25%')
          | Bubble Chart
          br
          a(href='http://bl.ocks.org/mbostock/4063269')
            img(width='133', src='http://d3js.org/ex/bubble.png')
        |     
        td(width='25%')
          | Bullet Charts
          br
          a(href='http://bl.ocks.org/mbostock/4061961')
            img(width='133', src='http://d3js.org/ex/bullet.png')
        |     
        td(width='25%')
          | Calendar View
          br
          a(href='http://bl.ocks.org/mbostock/4063318')
            img(width='133', src='http://d3js.org/ex/calendar.png')
      |   
      tr(valign='top')
        td
          | Non-contiguous Cartogram
          br
          a(href='http://bl.ocks.org/mbostock/4055908')
            img(width='133', src='http://d3js.org/ex/cartogram.png')
        |     
        td
          | Chord Diagram
          br
          a(href='http://bl.ocks.org/mbostock/4062006')
            img(width='133', src='http://d3js.org/ex/chord.png')
        |     
        td
          | Dendrogram
          br
          a(href='http://bl.ocks.org/mbostock/4063570')
            img(width='133', src='http://d3js.org/ex/cluster.png')
        |     
        td
          | Force-Directed Graph
          br
          a(href='http://bl.ocks.org/mbostock/4062045')
            img(width='133', src='http://d3js.org/ex/force.png')
      |   
      tr(valign='top')
        td
          | Circle Packing
          br
          a(href='http://bl.ocks.org/mbostock/4063530')
            img(width='133', src='http://d3js.org/ex/pack.png')
        |     
        td
          | Population Pyramid
          br
          a(href='http://bl.ocks.org/mbostock/4062085')
            img(width='133', src='http://d3js.org/ex/population.png')
        |     
        td
          | Stacked Bars
          br
          a(href='http://bl.ocks.org/mbostock/3943967')
            img(width='133', src='http://d3js.org/ex/stack.png')
        |     
        td
          | Streamgraph
          br
          a(href='http://bl.ocks.org/mbostock/4060954')
            img(width='133', src='http://d3js.org/ex/stream.png')
      |   
      tr(valign='top')
        td
          | Sunburst
          br
          a(href='http://bl.ocks.org/mbostock/4063423')
            img(width='133', src='http://d3js.org/ex/sunburst.png')
        |     
        td
          | Node-Link Tree
          br
          a(href='http://bl.ocks.org/mbostock/4063550')
            img(width='133', src='http://d3js.org/ex/tree.png')
        |     
        td
          | Treemap
          br
          a(href='http://bl.ocks.org/mbostock/4063582')
            img(width='133', src='http://d3js.org/ex/treemap.png')
        |     
        td
          | Voronoi Diagram
          br
          a(href='http://bl.ocks.org/mbostock/4060366')
            img(width='133', src='http://d3js.org/ex/voronoi.png')
      |   
      tr(valign='top')
        td
          | Hierarchical Edge Bundling
          br
          a(href='http://mbostock.github.com/d3/talk/20111116/bundle.html')
            img(width='133', src='http://d3js.org/ex/bundle.png')
        |     
        td
          | Voronoi Diagram
          br
          a(href='http://mbostock.github.com/d3/talk/20111116/airports-all.html')
            img(width='133', src='http://d3js.org/ex/airports-all.png')
        |     
        td
          | Symbol Map
          br
          a(href='http://mbostock.github.com/d3/talk/20111116/airports.html')
            img(width='133', src='http://d3js.org/ex/airports.png')
        |     
        td
          | Parallel Coordinates
          br
          a(href='http://mbostock.github.com/d3/talk/20111116/iris-parallel.html')
            img(width='133', src='http://d3js.org/ex/iris-parallel.png')
      |   
      tr(valign='top')
        td
          | Scatterplot Matrix
          br
          a(href='http://mbostock.github.com/d3/talk/20111116/iris-splom.html')
            img(width='133', src='http://d3js.org/ex/iris-splom.png')
        |     
        td
          | Zoomable Pack Layout
          br
          a(href='http://mbostock.github.com/d3/talk/20111116/pack-hierarchy.html')
            img(width='133', src='http://d3js.org/ex/pack-hierarchy.png')
        |     
        td
          | Hierarchical Bars
          br
          a(href='http://mbostock.github.com/d3/talk/20111116/bar-hierarchy.html')
            img(width='133', src='http://d3js.org/ex/bar-hierarchy.png')
        |     
        td
          | Epicyclical Gears
          br
          a(href='http://bl.ocks.org/mbostock/1353700')
            img(width='133', src='http://d3js.org/ex/gears.png')
      |   
      tr(valign='top')
        td
          | Collision Detection
          br
          a(href='http://mbostock.github.com/d3/talk/20111018/collision.html')
            img(width='133', src='http://d3js.org/ex/force-collision.png')
        |     
        td
          | Collapsible Force Layout
          br
          a(href='http://mbostock.github.com/d3/talk/20111116/force-collapsible.html')
            img(width='133', src='http://d3js.org/ex/force-collapsible.png')
        |     
        td
          | Force-Directed States
          br
          a(href='http://mbostock.github.com/d3/talk/20111018/force-states.html')
            img(width='133', src='http://d3js.org/ex/force-states.png')
        |     
        td
          | Azimuthal Projections
          br
          a(href='http://mbostock.github.com/d3/talk/20111018/azimuthal.html')
            img(width='133', src='http://d3js.org/ex/azimuthal.png')
      |   
      tr(valign='top')
        td
          | Choropleth
          br
          a(href='http://bl.ocks.org/mbostock/4060606')
            img(width='133', src='http://d3js.org/ex/choropleth.png')
        |     
        td
          | Collapsible Tree Layout
          br
          a(href='http://mbostock.github.com/d3/talk/20111018/tree.html')
            img(width='133', src='http://d3js.org/ex/tree-zoom.png')
        |     
        td
          | Zoomable Treemap
          br
          a(href='http://mbostock.github.com/d3/talk/20111018/treemap.html')
            img(width='133', src='http://d3js.org/ex/treemap-zoom.png')
        |     
        td
          | Zoomable Partition Layout
          br
          a(href='http://mbostock.github.com/d3/talk/20111018/partition.html')
            img(width='133', src='http://d3js.org/ex/partition-zoom.png')
      |   
      tr(valign='top')
        td
          | Zoomable Area Chart
          br
          a(href='http://mbostock.github.com/d3/talk/20111018/area-gradient.html')
            img(width='133', src='http://d3js.org/ex/area-gradient.png')
        |     
        td
          | Drag and Drop Collapsible Tree Layout
          br
          a(href='http://bl.ocks.org/robschmuecker/7880033')
            img(width='133', src='https://cloud.githubusercontent.com/assets/4923966/6143256/7da0855e-b17a-11e4-817e-5f33b4077283.png')
        |     
        td
          | Rotating Cluster Layout
          br
          a(href='http://mbostock.github.com/d3/talk/20111018/cluster.html')
            img(width='133', src='http://d3js.org/ex/cluster-radial.png')
        |     
        td
          | Sankey Diagram
          br
          a(href='http://bost.ocks.org/mike/sankey/')
            img(width='133', src='http://d3js.org/ex/sankey.png')
      |   
      tr(valign='top')
        td
          | Fisheye Distortion
          br
          a(href='http://bost.ocks.org/mike/fisheye/')
            img(width='133', src='http://d3js.org/ex/fisheye.png')
        |     
        td
          | Hive Plot
          br
          a(href='http://bost.ocks.org/mike/hive/')
            img(width='133', src='http://d3js.org/ex/hive.png')
        |     
        td
          | Co-occurrence Matrix
          br
          a(href='http://bost.ocks.org/mike/miserables/')
            img(width='133', src='http://d3js.org/ex/miserables.png')
        |     
        td
          | Motion Chart
          br
          a(href='http://bost.ocks.org/mike/nations/')
            img(width='133', src='http://d3js.org/ex/nations.png')
      |   
      tr(valign='top')
        td
          | Chord Diagram
          br
          a(href='http://bost.ocks.org/mike/uberdata/')
            img(width='133', src='http://d3js.org/ex/uber.png')
        |     
        td
          | Animated B&eacute;ziers
          br
          a(href='http://www.jasondavies.com/animated-bezier/')
            img(width='133', src='http://d3js.org/ex/bezier.png')
        |     
        td
          | Zoomable Sunburst
          br
          a(href='http://www.jasondavies.com/coffee-wheel/')
            img(width='133', src='http://d3js.org/ex/coffee.png')
        |     
        td
          | Collatz Graph
          br
          a(href='http://www.jasondavies.com/collatz-graph/')
            img(width='133', src='http://d3js.org/ex/collatz.png')
      |   
      tr(valign='top')
        td
          | Parallel Sets
          br
          a(href='http://www.jasondavies.com/parallel-sets/')
            img(width='133', src='http://d3js.org/ex/parsets.png')
        |     
        td
          | Word Cloud
          br
          a(href='http://www.jasondavies.com/wordcloud/')
            img(width='133', src='http://d3js.org/ex/cloud.png')
        |     
        td
          | Obama&apos;s Budget Proposal
          br
          a(href='http://www.nytimes.com/interactive/2012/02/13/us/politics/2013-budget-proposal-graphic.html')
            img(width='133', src='http://d3js.org/ex/budget.png')
        |     
        td
          | Facebook IPO
          br
          a(href='http://www.nytimes.com/interactive/2012/05/17/business/dealbook/how-the-facebook-offering-compares.html')
            img(width='133', src='http://d3js.org/ex/facebook-ipo.png')
      |   
      tr(valign='top')
        td
          | Political Influence
          br
          a(href='http://www.brightpointinc.com/interactive/political_influence/index.html?source=d3js', title='political influence d3.js')
            img(width='133', src='http://www.brightpointinc.com/interactive/images/PoliticalInfluence_202px.png')
        |     
        td
          | Federal Budget
          br
          a(href='http://www.brightpointinc.com/interactive/budget/index.html?source=d3js', title='federal budget d3.js')
            img(width='133', src='http://www.brightpointinc.com/interactive/images/Budget_202px.png')
        |     
        td
          | US Trade Deficit
          br
          a(href='http://www.brightpointinc.com/interactive/ustrade/index.html?source=d3js', title='US Trade Deficit d3.js')
            img(width='133', src='http://www.brightpointinc.com/interactive/images/Deficit_202px.png')
        |     
        td
          | Sequences sunburst
          br
          a(href='http://bl.ocks.org/kerryrodden/7090426')
            img(width='133', src='https://gist.githubusercontent.com/kerryrodden/7090426/raw/66e9ce05ea907b3cb6b753cacc61aba45a78e21f/thumbnail.gif')
      |   
      tr(valign='top')
        td
          | Autocomplete Component
          br
          a(href='http://www.brightpointinc.com/clients/brightpointinc.com/library/autocomplete/index.html?source=d3js', title='autocomplete component d3.js')
            img(width='133', src='http://www.brightpointinc.com/clients/brightpointinc.com/library/autocomplete/image.gif')
        |     
        td
          | Radial Progress Component
          br
          a(href='http://www.brightpointinc.com/clients/brightpointinc.com/library/radialProgress/index.html?source=d3js', title='radial progress component d3.js')
            img(width='133', src='http://www.brightpointinc.com/clients/brightpointinc.com/library/radialProgress/image.gif')
        |     
        td
          | Koalas to the Max
          br
          a(href='http://www.koalastothemax.com/')
            img(width='133', src='http://d3js.org/ex/koalas.png')
        |     
        td
          | Particles
          br
          a(href='http://bl.ocks.org/mbostock/1062544')
            img(width='133', src='http://d3js.org/ex/particles.png')
      |   
      tr(valign='top')
        td
          | Indented Tree
          br
          a(href='http://bl.ocks.org/mbostock/1093025')
            img(width='133', src='http://d3js.org/ex/indented-tree.png')
        |     
        td
          | Rounded Rect
          br
          a(href='http://bl.ocks.org/mbostock/1123639')
            img(width='133', src='http://d3js.org/ex/rounded-rect.png')
        |     
        td
          | Tadpoles
          br
          a(href='http://bl.ocks.org/mbostock/1136236')
            img(width='133', src='http://d3js.org/ex/sperm.png')
        |     
        td
          | Showreel
          br
          a(href='http://bl.ocks.org/mbostock/1256572')
            img(width='133', src='http://d3js.org/ex/show-reel.png')
      |   
      tr(valign='top')
        td
          | Euro Debt
          br
          a(href='http://bl.ocks.org/mbostock/1308257')
            img(width='133', src='http://d3js.org/ex/debt.png')
        |     
        td
          | Labeled Force Layout
          br
          a(href='http://bl.ocks.org/mbostock/1377729')
            img(width='133', src='http://d3js.org/ex/force-labels.png')
        |     
        td
          | Circle-Square Illusion
          br
          a(href='http://bl.ocks.org/mbostock/1386444')
            img(width='133', src='http://d3js.org/ex/illusion.png')
        |     
        td
          | Voronoi Picking
          br
          a(href='http://bl.ocks.org/mbostock/1405439')
            img(width='133', src='http://d3js.org/ex/voronoi-picker.png')
      |   
      tr(valign='top')
        td
          | Zoomable Map
          br
          a(href='http://bl.ocks.org/mbostock/2206590')
            img(width='133', src='http://d3js.org/ex/map-zoom.png')
        |     
        td
          | Raindrops
          br
          a(href='http://bl.ocks.org/mbostock/849853')
            img(width='133', src='http://d3js.org/ex/rain.png')
        |     
        td
          | Color
          br
          a(href='http://color.method.ac/')
            img(width='133', src='http://d3js.org/ex/color.png')
        |     
        td
          | Parallel Coordinates
          br
          a(href='http://exposedata.com/parallel/')
            img(width='133', src='http://d3js.org/ex/nutrient.png')
      |   
      tr(valign='top')
        td
          | Hacker News Popularity
          br
          a(href='http://hn.metamx.com/')
            img(width='133', src='http://d3js.org/ex/hn.png')
        |     
        td
          | Life Expectancy
          br
          a(href='http://projects.flowingdata.com/life-expectancy/')
            img(width='133', src='http://d3js.org/ex/world.png')
        |     
        td
          | Slopegraphs
          br
          a(href='http://skedasis.com/d3/slopegraph/')
            img(width='133', src='http://d3js.org/ex/slope.png')
        |     
        td
          | NCAA Predictions
          br
          a(href='http://thepowerrank.com/visual/NCAA_Tournament_Predictions')
            img(width='133', src='http://d3js.org/ex/ncaa.png')
      |   
      tr(valign='top')
        td
          | Cubism.js
          br
          a(href='http://square.github.com/cubism/')
            img(width='133', src='http://d3js.org/ex/cubism.png')
        |     
        td
          | Crossfilter.js
          br
          a(href='http://square.github.com/crossfilter/')
            img(width='133', src='http://d3js.org/ex/crossfilter.png')
        |     
        td
          | Wind History
          br
          a(href='http://windhistory.com/')
            img(width='133', src='http://d3js.org/ex/windhistory.png')
        |     
        td
          | Cubic Hamiltonian Graphs
          br
          a(href='http://www.christophermanning.org/projects/building-cubic-hamiltonian-graphs-from-lcf-notation/')
            img(width='133', src='http://d3js.org/ex/lcf.png')
      |   
      tr(valign='top')
        td
          | Force-Directed Voronoi
          br
          a(href='http://www.christophermanning.org/projects/voronoi-diagram-with-force-directed-nodes-and-delaunay-links/')
            img(width='133', src='http://d3js.org/ex/force-voronoi.png')
        |     
        td
          | Trulia Trends
          br
          a(href='http://trends.truliablog.com/2011/09/house-hunter-by-day-not-so-much-after-midnight/')
            img(width='133', src='http://d3js.org/ex/house-heatmap.png')
        |     
        td
          | Trulia Trends
          br
          a(href='http://trends.truliablog.com/2012/02/where-are-house-hunters-searching/')
            img(width='133', src='http://d3js.org/ex/house-map.png')
        |     
        td
          | Open Budget
          br
          a(href='http://marcinignac.com/projects/open-budget/')
            img(width='133', src='http://d3js.org/ex/open-budget.png')
      |   
      tr(valign='top')
        td
          | Bederson Publications
          br
          a(href='http://www.cs.umd.edu/~bederson/papers/index.html')
            img(width='133', src='http://d3js.org/ex/bederson-pubs.png')
        |     
        td
          | Force Layout Editor
          br
          a(href='http://bl.ocks.org/benzguo/4370043')
            img(width='133', src='http://bl.ocks.org/benzguo/raw/4362310/thumbnail.png')
        |     
        td
          | Open Knowledge Festival
          br
          a(href='http://www.floapps.com/cases/open-knowledge-festival/')
            img(width='133', src='http://floapps.com/lab/misc/oklogo/ok.png')
        |     
        td
          | Hierarchical Classification Tree
          br
          a(href='http://www.bitjuice.com.au/research/#hierarchicalclassificationexample')
            img(width='133', src='http://www.bitjuice.com.au/wp-content/uploads/2013/08/hierarchical_visualisation_example.png')
      |   
      tr(valign='top')
        td
          | Gene Expression
          br
          a(href='http://sulab.org/2013/02/data-chart-plugin-beta/')
            img(width='133', src='http://sulab.org/wordpress/wp-content/uploads/2013/02/data_chart_icon_2.jpg')
        |     
        td
          | spacetime
          br
          a(href='http://bl.ocks.org/clayzermk1/9142407')
            img(width='133', src='https://gist.githubusercontent.com/clayzermk1/9142407/raw/thumbnail.png')
        |     
        td
          | d3 Analog Clock Dashboard
          br
          a(href='http://www.infocaptor.com/dashboard/d3-javascript-visualization-to-build-world-analog-clocks')
            img(width='133', src='http://www.infocaptor.com/dashboard/wp-content/uploads/2013/02/image-217-small.jpg')
        |     
        td
          | Concept network browser
          br
          a(href='http://www.findtheconversation.com/concept-map')
            img(width='133', src='http://www.findtheconversation.com/concept-map-d3-wiki.png')
      |   
      tr(valign='top')
        td
          | Circular heat chart
          br
          a(href='http://prcweb.co.uk/circularheatchart')
            img(width='133', src='http://prcweb.co.uk/img/ext/circularheat.jpg')
        |     
        td
          | Convert any page into bubbles
          br
          a(href='http://www.infocaptor.com/bubble-my-page')
            img(width='133', src='http://www.infocaptor.com/wikipedia_visualization.png')
        |     
        td
          | Directed Graph Editor
          br
          a(href='http://bl.ocks.org/rkirsling/5001347')
            img(width='133', src='http://bl.ocks.org/rkirsling/raw/5001347/thumbnail.png')
        |     
        td
          | Weeknd3
          br
          a(href='http://ggruiz.me/weeknd3/')
            img(width='133', src='http://puu.sh/2bWtl')
      |   
      tr(valign='top')
        td
          | Explosions
          br
          a(href='http://ggruiz.me/explosions/')
            img(width='133', src='http://puu.sh/2fO3P')
        |     
        td
          | CodeFlowers
          br
          a(href='http://redotheweb.com/CodeFlower/')
            img(width='133', src='http://redotheweb.com/images/codeflower/codeflower.png')
        |     
        td
          | Animated wind chart
          br
          a(href='http://charts.animateddata.co.uk/ukwind/')
            img(width='133', src='http://animateddata.co.uk/img/ext/d3-ukwind.jpg')
        |     
        td
          | What makes us happy?
          br
          a(href='http://charts.animateddata.co.uk/whatmakesushappy/')
            img(width='133', src='http://animateddata.co.uk/img/ext/what-makes-us-happy2.jpg')
      |   
      tr(valign='top')
        td
          | Simple SOM Animation
          br
          a(href='http://bl.ocks.org/e-/5244131')
            img(width='133', src='https://gist.github.com/e-/5244131/raw/2b721ed08e2361731b4d45370c9c8ddec63304e0/thumbnail.png')
        |     
        td
          | A mower demo
          br
          a(href='http://bertranddechoux.github.io/d3js-sandbox/mower-demo/index.html')
            img(width='133', src='https://raw.github.com/BertrandDechoux/d3js-sandbox/gh-pages/mower-demo/screenshot.png')
        |     
        td
          | Map and context with brushing
          br
          a(href='http://rbspd3.herokuapp.com')
            img(width='133', src='https://raw.github.com/sdelarquier/rbspd3/mr/snapshot.png')
        |     
        td
          | Binary tree with transitions
          br
          a(href='http://animateddata.co.uk/lab/d3-tree')
            img(width='133', src='http://animateddata.co.uk/img/ext/tree.jpg')
      |   
      tr(valign='top')
        td
          | -
          br
          a(href='#')
            img(width='133', src='')
        |     
        td
          | D3 JezzBall
          br
          a(href='http://bl.ocks.org/ericcitaire/5408146')
            img(width='133', src='http://bl.ocks.org/ericcitaire/raw/5408146/thumbnail.png')
        |     
        td
          | Tetris
          br
          a(href='http://d3tetris.herokuapp.com/')
            img(width='133', src='http://imageshack.us/a/img841/8619/tetrisn.png')
        |     
        td
          | Gantt Chart
          br
          a(href='http://bl.ocks.org/dk8996/5538271/')
            img(width='133', src='https://raw.github.com/dk8996/Gantt-Chart/master/examples/screenshot2.png')
      |   
      tr(valign='top')
        td
          | Day/Hour Heatmap
          br
          a(href='http://bl.ocks.org/tjdecke/5558084')
            img(width='133', src='https://gist.github.com/tjdecke/5558084/raw/thumbnail2.png')
        |     
        td
          | Sunburst and parse.com
          br
          a(href='http://xliberation.com/parse/colortable/parsed3.html')
            img(width='133', src='http://xliberation.com/googlecharts/1716.png')
        |     
        td
          | Worldwide remittance flows
          br
          a(href='http://remittances.herokuapp.com/?en')
            img(width='133', src='https://raw.github.com/ilyabo/remittances/mr/design/screenshots/explore-en-square-200px.png')
        |     
        td
          | Language Network
          br
          a(href='http://www.cotrino.com/2012/11/language-network/')
            img(width='133', src='https://raw.github.com/cotrino/experimentos/mr/langnet.png')
      |   
      tr(valign='top')
        td
          | Wimbledon 2013
          br
          a(href='http://charts.animateddata.co.uk/tennis/')
            img(width='133', src='http://animateddata.co.uk/img/ext/w2012-match-tree.jpg')
        |     
        td
          | Force directed tag/site explorer
          br
          a(href='http://ramblings.mcpher.com/Home/excelquirks/gassites/d3nodefocus')
            img(width='133', src='http://xliberation.com/googlecharts/1731.png')
        |     
        td
          | -
          br
          a(href='#')
            img(width='133', src='#')
        |     
        td
          | Airline data from Fusion Tables
          br
          a(href='http://xliberation.com/googlecharts/d3flights.html')
            img(width='133', src='http://xliberation.com/googlecharts/1746.png')
      |   
      tr(valign='top')
        td
          | Geographical hexbins
          br
          a(href='http://ssz.fr/places?fr#ac$')
            img(width='133', src='http://ssz.fr/brdl/ac.png')
        |     
        td
          | xkcd-style Comic Narrative Charts
          br
          a(href='http://csclub.uwaterloo.ca/~n2iskand/?page_id=13')
            img(width='133', src='http://csclub.uwaterloo.ca/~n2iskand/wp-content/uploads/2013/06/Screen-Shot-2013-06-08-at-12.04.47-PM-300x200.png')
        |     
        td
          | GitHub Visualizer
          br
          a(href='http://ghv.artzub.com/#repo=d3&climit=100&user=mbostock&run')
            img(width='133', src='https://f.cloud.github.com/assets/134249/1274358/39cb552a-2d96-11e3-9936-c892a2f81bb6.gif')
        |     
        td
          | WorldBank Contract Awards
          br
          a(href='http://d3.artzub.com/wbca/')
            img(width='133', src='http://brainstorage.habrastorage.org/item_custom_image_images/6/68/68628/w206h160_screenshot_11.png')
      |   
      tr(valign='top')
        td
          | Site or blog concept browser
          br
          a(href='http://xliberation.com/googlecharts/d3concept.html')
            img(width='133', src='http://xliberation.com/googlecharts/1774.png')
        |     
        td
          | Global power structure
          br
          a(href='http://WhoDoTheyServe.com')
            img(width='133', src='http://dizzib.github.io/wdts/asset/d3-thumb-200x200.png')
        |     
        td
          | Choropleth on canvas
          br
          a(href='http://ssz.fr/parite')
            img(width='133', src='http://ssz.fr/brdl/parite.png')
        |     
        td
          | Google calendar like visualization
          br
          a(href='http://bl.ocks.org/chaitanyagurrapu/6007521')
            img(width='133', src='http://bl.ocks.org/chaitanyagurrapu/raw/6007521/thumbnail.png')
      |   
      tr(valign='top')
        td
          | Interactive Sales Data Pie Chart
          br
          a(href='https://live.zoomdata.com/zoomdata/visualization?__target=embedded&key=52265abb6abdbcaa8c217789#51db7ad4e4b04caf9ab346db-51db7ad4e4b04caf9ab346d5')
            img(width='133', src='https://dl.dropboxusercontent.com/u/56332995/sales%20interactive%20pie%20d3js.png')
        |     
        td
          | Wikistalker - Wikipedia Visualization
          br
          a(href='http://sepans.com/wikistalker')
            img(width='133', src='http://sepans.com/sp/wp-content/uploads/2013/07/wikistalker_history.png')
        |     
        td
          | D3 Cesium - Health and Wealth of Nations
          br
          a(href='http://cesiumjs.org/demos/d3.html')
            img(width='133', src='http://cesiumjs.org/demos/images/d3.png')
        |     
        td
          | Starpaths
          br
          a(href='http://www.cotrino.com/2013/05/starpaths/')
            img(width='133', src='https://raw.github.com/cotrino/experimentos/mr/starpaths.png')
      |   
      tr(valign='top')
        td
          | Kent + Sussex river levels mapped
          br
          a(href='http://maps-n-apps.github.io/Rivers_Viz/')
            img(width='133', src='http://mapsnapps.com/public/themes/portfolio-monstra-theme/assets/blogimages/d3map.png')
        |     
        td
          | CoreNLP Sentence Parse Tree
          br
          a(href='http://nlpviz.bpodgursky.com/home')
            img(width='133', src='http://bpodgursky.files.wordpress.com/2013/08/nlp-screenshot-cropped.png')
        |     
        td
          | Publications in journals over time
          br
          a(href='http://neuralengr.com/asifr/journals')
            img(width='133', src='http://neuralengr.com/asifr/journals/journals.png')
        |     
        td
          | Another state budget visualization with open api
          br
          a(href='http://budzet.aws.af.cm')
            img(width='133', src='http://www.demodems.org/gtt/otvoreni-budzet-d3.png')
      |   
      tr(valign='top')
        td
          | Interactive Bible contradictions &amp; bar charts [
          a(href='https://github.com/danielgtaylor/bibviz') source
          | ]
          br
          a(href='http://bibviz.com/')
            img(width='133', src='http://bibviz.com/img/square.png')
        |     
        td
          | Force Edge Bundling For Graphs
          br
          a(href='http://bl.ocks.org/upphiminn/6515478')
            img(width='133', src='https://raw.github.com/upphiminn/d3.ForceBundle/master/readme_img/thumbnail.png')
          |  [
          a(href='https://github.com/upphiminn/d3.ForceBundle') Source &amp; Docs
          | ]
        |     
        td
          | Gauge
          br
          a(href='http://tomerdoron.blogspot.com/2011/12/google-style-gauges-using-d3js.html')
            img(width='133', src='http://bl.ocks.org/tomerd/raw/1499279/thumbnail.png')
        |     
        td
          | Bullet Charts
          br
          a(href='http://bl.ocks.org/CodeXmonk/6112167')
            img(width='133', src='https://gist.github.com/CodeXmonk/6112167/raw/bbd3c9b608ff8123c6664d1bf9a850dcc9ca1065/thumbnail.png')
      |   
      tr(valign='top')
        td
          | Arc Axis
          br
          a(href='http://bl.ocks.org/metormote/6392996')
            img(width='133', src='http://bl.ocks.org/metormote/raw/6392996/thumbnail.png')
        |     
        td
          | Bar chart with tooltips
          br
          a(href='http://bl.ocks.org/Caged/6476579')
            img(width='133', src='http://bl.ocks.org/Caged/raw/6476579/thumbnail.png')
        |     
        td
          | Tokyo Wind Map
          br
          a(href='http://air.nullschool.net')
            img(width='133', src='https://raw.github.com/wiki/cambecc/air/tokyowind.png')
        |     
        td
          | Dependency Wheel
          br
          a(href='http://redotheweb.com/DependencyWheel/')
            img(width='133', src='http://redotheweb.com/DependencyWheel/img/dependency_chord.gif')
      |   
      tr(valign='top')
        td
          | 60 years of french first names
          br
          a(href='http://dataaddict.fr/prenoms/')
            img(width='133', src='http://dataaddict.fr/wp-content/uploads/2013/06/prenom_img_home.png')
        |     
        td
          | Hip Replacement by State
          br
          a(href='https://vida.io/documents/s5qo5Gwrct5HNxAD2')
            img(width='133', src='https://s3.amazonaws.com/vida-production/thumbnails/s5qo5Gwrct5HNxAD2')
        |     
        td
          | Compare time series with irregular interval
          br
          a(href='http://bl.ocks.org/marufbd/7191340')
            img(width='133', src='https://gist.github.com/marufbd/7191340/raw/ab057eef9227e5498431c030c6ad5048cb326a3a/thumbnail.png')
        |     
        td
          | Table with Embedded Line Chart
          br
          a(href='http://bl.ocks.org/llimllib/841dd138e429bb0545df')
            img(width='133', src='https://gist.github.com/llimllib/841dd138e429bb0545df/raw/a63c01b974e8e6e3be9a06eb1f67567cd7b4c322/table.jpg')
      |   
      tr(valign='top')
        td
          | Dual-scale Bar Chart
          br
          a(href='https://github.com/liufly/Dual-scale-D3-Bar-Chart')
            img(width='133', src='https://raw.github.com/liufly/Dual-scale-D3-Bar-Chart/mr/preview/thumbnail.png')
        |     
        td
          | Animated Pie and Line Chart
          br
          a(href='http://codepen.io/stefanjudis/full/gkHwJ')
            img(width='133', src='http://stefanjudis.de/share/animatedChart.jpg')
        |     
        td
          | Multivariate Data Exploration with Scatterplots
          br
          a(href='http://benjiec.github.io/scatter-matrix/demo/demo.html')
            img(width='133', src='http://benjiec.github.io/scatter-matrix/demo/demo.png')
        |     
        td
          | Live Power Outages In Maine
          br
          a(href='http://rud.is/outage/')
            img(width='133', src='http://rud.is/outage/thumb2.png')
      |   
      tr(valign='top')
        td
          | Relative Size Of The Planets
          br
          a(href='http://www.ununpentium.co.uk/pages/planets.jsp')
            img(width='133', src='http://i39.tinypic.com/ngsoj8.png')
        |     
        td
          | AWS EC2 Price Comparison Chart
          br
          a(href='http://kenlin.com/x/aws-price-comparison-chart/')
            img(width='133', src='https://raw2.github.com/kenklin/aws-price-comparison-chart/mr/aws-price-comparison-chart-small.png')
        |     
        td
          | -
          br
          a(href='#')
            img(width='133', src='#')
        |     
        td
          | -
          br
          a(href='#')
            img(width='133', src='#')
      |   
      tr(valign='top')
        td
          | -
          br
          a(href='#')
            img(width='133', src='#')
        |     
        td
          | Epidemic Game 
          a(href='http://vax.herokuapp.com')
            img(width='133', src='http://imgur.com/h3anuVg.gif')
        |     
        td
          | UK Temperature Graphs
          br
          a(href='http://charts.animateddata.co.uk/uktemperaturelines')
            img(width='133', src='http://animateddata.co.uk/img/d3-gallery/uktemperaturelines3.jpg')
        |     
        td
          | Data Heatmap with Sorting Functions
          br
          a(href='http://bl.ocks.org/ianyfchang/8119685')
            img(width='133', src='http://bl.ocks.org/ianyfchang/raw/8119685/thumbnail.png')
      |   
      tr(valign='top')
        td
          | Node-Link Tree Showing Branches of Government
          br
          a(href='http://greencracker.net/wp-content/uploads/2013/11/final-cafe-press-dimensions-1106.jpg')
            img(width='133', src='http://greencracker.net/wp-content/uploads/2013/12/tree_thumb.jpg')
        |     
        td
          | 3D Force Layout
          br
          a(href='https://vida.io/documents/N4jSip7n68yQ48DXp')
            img(width='133', src='https://s3.amazonaws.com/vida-production/thumbnails/N4jSip7n68yQ48DXp')
        |     
        td
          | Rotating Arcs
          br
          a(href='http://vyacheslavryabinin.com/datavis/absind')
            img(width='133', src='http://vyacheslavryabinin.com/datavis/absind/absind.png')
        |     
        td
          | Lifespan
          br
          a(href='http://www.cotrino.com/2014/02/lifespan-longevidad-animal/')
            img(width='133', src='https://raw.github.com/cotrino/experimentos/mr/lifespan.png')
      |   
      tr(valign='top')
        td
          | The Movie Network
          br
          a(href='http://bl.ocks.org/paulovn/9686202')
            img(width='133', src='http://bl.ocks.org/paulovn/raw/9686202/thumbnail-s.png')
        |     
        td
          | Bowls with Liquid
          br
          a(href='http://invision-web.net/ticket-status/')
            img(width='133', src='http://invision-web.net/ticket-status/preview.png')
        |     
        td
          | BiPartite Visualization
          br
          a(href='http://bl.ocks.org/NPashaP/9796212')
            img(width='133', src='http://bl.ocks.org/NPashaP/raw/9796212/thumbnail.png')
        |     
        td
          | BeerViz
          br
          a(href='http://seekshreyas.com/beerviz/')
            img(width='133', src='https://dl.dropboxusercontent.com/u/2670838/Markdown/img/beerviz.png')
      |   
      tr(valign='top')
        td
          | Graceful Tree Conjecture
          br
          a(href='http://bl.ocks.org/NPashaP/7683252')
            img(width='133', src='http://bl.ocks.org/NPashaP/raw/7683252/thumbnail.png')
        |     
        td
          | Top Scorers in 2013/14 Champions League - Breakdown analysis
          br
          a(href='http://sunburst-demo.herokuapp.com/')
            img(width='133', src='https://scontent-b-fra.xx.fbcdn.net/hphotos-prn2/t1.0-9/1545571_10201953206206939_9214887947131857383_n.jpg')
        |     
        td
          | Sankey: How a Georgia bill becomes law
          br
          a(href='http://greencracker.net/?p=1685')
            img(width='133', src='http://greencracker.net/wp-content/uploads/2013/12/sankey-experiment-one-updated.png')
        |     
        td
          | A game based on d3
          br
          a(href='http://wenchaojiang.github.io/d3game/')
            img(width='133', src='http://wenchaojiang.github.io/d3game/ScreenShot.png')
      |   
      tr(valign='top')
        td
          | Viroscope - virus taxonomy viewer
          br
          a(href='http://viroscope.info/')
            img(width='133', src='http://jon.es/other/viroscope.png')
        |     
        td
          | Twitter &amp; Reddit topics during week one of MH-370&apos;s disappearance
          br
          a(href='http://mlvl.github.io/Hierarchie')
            img(width='133', src='http://mlvl.github.io/Hierarchie/app/img/layer.png')
        |     
        td
          | -
          br
          a(href='#')
            img(width='133', src='#')
        |     
        td
          | SizeViewer
          br
          a(href='https://d3.artzub.com/sv/')
            img(width='133', src='http://artzub.com/d3/sv/images/sv.gif')
      |   
      tr(valign='top')
        td
          | OrgoShmorgo
          br
          a(href='http://orgo.stolarsky.com/')
            img(width='133', src='http://orgo.stolarsky.com/orgo.png')
        |     
        td
          | Fund Visualization
          br
          a(href='http://fundvis-ywng.rhcloud.com/JPMProvident.html')
            img(width='133', src='https://camo.githubusercontent.com/24eefda4cbf1f88d278ab0b25a2d4989b48558ff/68747470733a2f2f7261772e6769746875622e636f6d2f79776e672f66756e647669732f6d61737465722f7363725f73686f742e706e67')
        |     
        td
          | Zoomable sunburst with updating data
          br
          a(href='http://bl.ocks.org/kerryrodden/477c1bfb081b783f80ad')
            img(width='133', src='https://gist.githubusercontent.com/kerryrodden/477c1bfb081b783f80ad/raw/thumbnail.gif')
        |     
        td
          | US State Map
          br
          a(href='http://bl.ocks.org/NPashaP/a74faf20b492ad377312')
            img(width='133', src='http://bl.ocks.org/NPashaP/raw/a74faf20b492ad377312/thumbnail.png')
      |   
      tr(valign='top')
        td
          | Simple Dashboard
          br
          a(href='http://bl.ocks.org/NPashaP/96447623ef4d342ee09b')
            img(width='133', src='http://bl.ocks.org/NPashaP/raw/96447623ef4d342ee09b/thumbnail.png')
        |     
        td
          | Density and Quantile Graphs
          br
          a(href='http://bl.ocks.org/NPashaP/113f7fea0751fa1513e1')
            img(width='133', src='http://bl.ocks.org/NPashaP/raw/113f7fea0751fa1513e1/thumbnail.png')
        |     
        td
          | Visualizing MBTA Data
          br
          a(href='http://mbtaviz.github.io')
            img(width='133', src='http://mbtaviz.github.io/media/preview.png')
        |     
        td
          | Sum of First n Numbers
          br
          a(href='http://bl.ocks.org/NPashaP/06ff0f8cd198730815bf')
            img(width='133', src='http://bl.ocks.org/NPashaP/raw/06ff0f8cd198730815bf/thumbnail.png')
      |   
      tr(valign='top')
        td
          | Animated Historical Weather Maps
          br
          a(href='http://kyrandale.com/viz/uk-weather-stations.html')
            img(width='133', src='http://kyrandale.com/static/images/viz/uk-weather-stations.png')
        |     
        td
          | Visualizing Walking with Smartphone Accelerometers
          br
          a(href='http://kyrandale.com/viz/d3-smartphone-walking.html')
            img(width='133', src='http://kyrandale.com/static/images/viz/d3-smartphone-walking.png')
        |     
        td
          | Cycloid Optical Illusion
          br
          a(href='http://bl.ocks.org/peterlozano/480f90947c6e08be6b95')
            img(width='133', src='http://bl.ocks.org/peterlozano/raw/480f90947c6e08be6b95/thumbnail.png')
        |     
        td
          | Alternative Calendar View
          br
          a(href='http://bl.ocks.org/KathyZ/c2d4694c953419e0509b')
            img(width='133', src='https://raw.githubusercontent.com/KathyZ/d3-calendar/master/thumbnail.png')
      |   
      tr(valign='top')
        td
          | US Choropleth Plus Bar Chart
          br
          a(href='https://vida.io/documents/4vZ9mRGyepoyQxFcK')
            img(width='133', src='https://s3.amazonaws.com/vida-production/thumbnails/4vZ9mRGyepoyQxFcK')
        |     
        td
          | Aster Plot
          br
          a(href='http://bl.ocks.org/bbest/2de0e25d4840c68f2db1')
            img(width='133', src='http://bl.ocks.org/bbest/raw/2de0e25d4840c68f2db1/thumbnail.png')
        |     
        td
          | Smallest Convex Polygon
          br
          a(href='http://bl.ocks.org/NPashaP/2ad2fcceadb8a6907098')
            img(width='133', src='http://bl.ocks.org/NPashaP/raw/2ad2fcceadb8a6907098/thumbnail.png')
        |     
        td
          | Shooter
          br
          a(href='http://d3shooter.herokuapp.com')
            img(width='133', src='http://d3shooter.herokuapp.com/images/screenshot.png')
      |   
      tr(valign='top')
        td
          | Sunburst for your skill map
          br
          a(href='http://bl.ocks.org/wizicer/f662a0b04425fc0f7489')
            img(width='133', src='https://gist.githubusercontent.com/wizicer/f662a0b04425fc0f7489/raw/ae5c0c2f03daf72798a0711aaccfb868adf464cc/thumbnail.png')
        |     
        td
          | Network of soccer passes
          br
          a(href='http://bl.ocks.org/fhernand/9a9f93f2a6b0e83a9294')
            img(width='133', src='http://bl.ocks.org/fhernand/raw/9a9f93f2a6b0e83a9294/thumbnail.png')
        |     
        td
          | Choropleth with svg filter
          br
          a(href='http://bl.ocks.org/fhernand/be1e9c9fdb0473292abf')
            img(width='133', src='http://bl.ocks.org/fhernand/raw/be1e9c9fdb0473292abf/thumbnail.png')
        |     
        td
          | Psychedelic British Isles
          br
          a(href='http://go-down-the-drain.herokuapp.com/secretTomb/BritishIsles.html')
            img(width='133', src='https://raw.githubusercontent.com/BeniCheni/Music-Concierge/master/app/images/Added%20Borders,%20Country%20and%20City%20Names.png')
      |   
      tr(valign='top')
        td
          | Stock Leaders Bubble Chart
          br
          a(href='http://tomsisk.com/ondemand/')
            img(width='133', src='http://tomsisk.com/ondemand/img/screen.png')
        |     
        td
          | Interactive Unit Circle (Trigonometry)
          br
          a(href='http://derrick.cohodas.me/unit-circle/')
            img(width='133', src='http://i.imgur.com/Rh8bSNY.png?1')
        |     
        td
          | Days-Hours Heatmap
          br
          a(href='http://bl.ocks.org/oyyd/859fafc8122977a3afd6')
            img(width='133', src='http://bl.ocks.org/oyyd/raw/859fafc8122977a3afd6/thumbnail.png')
        |     
        td
          | Trend Chart (Area + Line)
          br
          a(href='http://bl.ocks.org/rkirsling/33a9e350516da54a5d4f')
            img(width='133', src='http://bl.ocks.org/rkirsling/raw/33a9e350516da54a5d4f/thumbnail.png')
      |   
      tr(valign='top')
        td
          | Visualizations and Dashboard builder
          br
          a(href='https://my.infocaptor.com/free_data_visualization.php')
            img(width='133', src='http://www.infocaptor.com/dashboard/wp-content/uploads/2014/10/image-358.jpg')
        |     
        td
          | -
          br
          a(href='#')
            img(width='133', src='#')
        |     
        td
          | Simple bar chart with lede &amp; nut graf layout
          br
          a(href='http://greencracker.net/?p=1874')
            img(width='133', src='http://greencracker.net/wp-content/uploads/2014/11/Screen-Shot-2014-11-16-at-12.32.51-PM.png')
        |     
        td
          | Node Focusable Tree
          br
          a(href='http://codepen.io/mikefab/full/IDdts/')
            img(width='133', src='http://s12.postimg.org/abee893h9/node_focusable_radial_tree.jpg')
      |   
      tr(valign='top')
        td
          | Tarot Card App made with D3 + Meteor framework
          br
          a(href='http://tarot-pedia.meteor.com/')
            img(width='133', src='https://farm8.staticflickr.com/7541/15320089804_2f5977c9b8_m.jpg')
        |     
        td(width='207')
          | Ulam Spiral
          br
          a(href='http://bl.ocks.org/rouleur/260c5a9233fff0e8ddaf')
            img(width='133', src='http://bl.ocks.org/rouleur/raw/260c5a9233fff0e8ddaf/thumbnail.png')
        |     
        td(width='207')
          | Animated Chord Diagram
          br
          a(href='http://www.visualcinnamon.com/2014/12/using-data-storytelling-with-chord.html')
            img(width='133', src='https://dl.dropboxusercontent.com/u/11654088/Chord%20Diagram%20Video%20Fast%20202px.gif')
        |     
        td(width='207')
          | SOM Hexagonal Heatmap
          br
          a(href='http://www.visualcinnamon.com/2013/07/self-organizing-maps-creating-hexagonal.html')
            img(width='133', src='https://dl.dropboxusercontent.com/u/11654088/SOM%20Heatmap.png')
      |   
      tr(valign='top')
        td
          | Dataviz tree
          br
          a(href='http://charts.animateddata.co.uk/datavistree/')
            img(width='133', src='http://animateddata.co.uk/img/ext/datavistree-thumb.jpg')
        |     
        td
          | UK Temperature 1910-2014
          br
          a(href='http://charts.animateddata.co.uk/uktemp/')
            img(width='133', src='http://animateddata.co.uk/img/ext/uktemprange-thumb.jpg')
        |     
        td
          | Simple Bubble Chart
          br
          a(href='http://bl.ocks.org/phuonghuynh/54a2f97950feadb45b07')
            img(width='133', src='http://phuonghuynh.github.io/demo/bubble-chart/demo-bubble-chart.png')
        |     
        td
          | Collapsible 2-Way Tree Layout
          br
          a(href='http://bl.ocks.org/kanesee/5d6c48bffd4ea31201fb')
            img(width='133', src='https://raw.githubusercontent.com/kanesee/d3-2way-tree/master/screenshot.png')
      |   
      tr(valign='top')
        td
          | Animated Pie
          br
          a(href='http://vyacheslavryabinin.com/datavis/pie/')
            img(width='133', src='http://vyacheslavryabinin.com/datavis/pie/pie.png')
        |     
        td
          | Exoplanets in Orbit
          br
          a(href='http://www.visualcinnamon.com/2014/12/creating-interactive-exoplanets-in.html')
            img(width='133', src='https://raw.githubusercontent.com/nbremer/exoplanets/gh-pages/img/Exoplanets%20-%20Animated.gif')
        |     
        td
          | Worldcup&apos;14 Drag &amp; Drop Brackets
          br
          a(href='http://romain.vuillemot.net/projects/worldcup14/')
            img(width='133', src='http://romain.vuillemot.net/projects/worldcup14/tutorial.gif')
        |     
        td
          | A Scatterplot as Bar chart
          br
          a(href='http://www.visualcinnamon.com/2015/01/the-top-2000-equalizer-songs.html')
            img(width='133', src='https://dl.dropboxusercontent.com/u/11654088/Top2000Animated.gif')
      |   
      tr(valign='top')
        td
          | Conway&apos;s Game of Life
          br
          a(href='http://bl.ocks.org/NPashaP/f1e73faef87bee899b47')
            img(width='133', src='http://bl.ocks.org/NPashaP/raw/f1e73faef87bee899b47/thumbnail.png')
        |     
        td
          | Editable tree mixing d3 &amp; Angular
          br
          a(href='http://marmelab.com/ArchitectureTree/')
            img(width='133', src='http://i.imgur.com/9PG8v0J.png')
        |     
        td
          | SFDC Training Videos
          br
          a(href='https://mohansun-canvas.herokuapp.com/content/training/')
            img(width='133', src='http://d3js.org/ex/cluster.png')
        |     
        td
          | Editable Sankey with self-loops
          br
          a(href='http://sankey.csaladen.es/')
            img(width='133', src='http://sankey.csaladen.es/snapshot.jpg')
      |   
      tr(valign='top')
        td
          | England &amp; Wales house price animation
          br
          a(href='http://helenjacksonanalytic.co.uk/EW_prop_price.html', target='_blank')
            img(width='133', src='http://www.helenjacksonanalytic.co.uk/EaW.png')
        |     
        td
          | Bi-directional Zoom and Drag D3 dependency tree
          br
          a(href='http://bl.ocks.org/shunpochang/66620bad0e6b201f261c', target='_blank')
            img(width='133', src='https://raw.githubusercontent.com/shunpochang/d3tree/master/thumbnail.png')
        |     
        td
          | Interactive Force Directed Graph
          br
          a(href='http://emptypipes.org/2015/02/15/selectable-force-directed-graph/', target='_blank')
            img(width='133', src='http://emptypipes.org/img/d3_selectable_force_directed_graph.png', alt='Selectable / Zoomable / Centerable Force Directed Graph')
        |     
        td
          | F1 Timeline
          br
          a(href='http://charts.animateddata.co.uk/f1/', target='_blank')
            img(width='133', src='http://animateddata.co.uk/img/ext/f1.jpg')
      |   
      tr(valign='top')
        td
          | Geocenter of F1 venues
          br
          a(href='https://csaladenes.wordpress.com/2015/02/01/the-geocenter-of-formula-1-venues-between-1950-2014/', target='_blank')
            img(width='133', src='https://csaladenes.files.wordpress.com/2015/02/f1venues.jpg?w=1000&h=547')
        |    
        td
          | Access Quandl aggregator
          br
          a(href='https://csaladenes.wordpress.com/2015/02/24/quandl-nvd3-interactive-data-plotter/', target='_blank')
            img(width='133', src='https://csaladenes.files.wordpress.com/2015/02/quandl.jpg')
        |    
        td
          | Religions in Romania on colorwheels
          br
          a(href='https://csaladenes.wordpress.com/2015/03/01/religions-of-romania-visualized-on-colorwheels/', target='_blank')
            img(width='133', src='https://csaladenes.files.wordpress.com/2015/03/clipboard02.png?w=133')
        |    
        td
          | Sunburst bilevel partition with tooltips 
          br
          a(href='http://bl.ocks.org/vgrocha/1580af34e56ee6224d33', target='_blank')
            img(width='133', src='https://gist.github.com/vgrocha/1580af34e56ee6224d33/raw/205ed29a33481727cadedd6b2ecc1e4f2273bfbf')
      |   
      tr(valign='top')
        td
          | Russian Budget: 1937 to 1950
          br
          a(href='http://budgetapps.artzub.com/minfin/', target='_blank')
            img(width='133', src='http://habrastorage.org/files/125/a61/c1f/125a61c1fbad4517922b4ef673cf2ef2.gif', alt='')
        |     
        td
          | Liquid Fill Gauge
          br
          a(href='http://bl.ocks.org/brattonc/5e5ce9beee483220e2f6', target='_blank')
            img(width='133', src='https://gist.githubusercontent.com/brattonc/5e5ce9beee483220e2f6/raw/thumbnail.gif', alt='')
        |     
        td
          | Interactive Bubble Menu
          br
          a(href='http://sunsp.net/demo/BubbleMenu', target='_blank')
            img(width='133', src='http://sunsp.net/demo/BubbleMenu/bubblemenu.gif', alt='')
        |     
        |     
        td
          | Global center of higher education: university rankings
          br
          a(href='https://csaladenes.wordpress.com/2015/03/10/the-global-center-of-mass-of-higher-education-university-rankings-mapped/', target='_blank')
            img(width='133', src='https://csaladenes.files.wordpress.com/2015/03/clipboard014.png?w=1000&h=553', alt='')
      |   
      tr(valign='top')
        td
          | Linked Geographic and Tree Maps
          br
          a(href='http://sunsp.net/demo/GeogTreeMaps', target='_blank')
            img(width='133', src='http://sunsp.net/demo/GeogTreeMaps/geogtreemaps.gif', alt='')
        |     
        td
          | Bi-directional Hierarchical Sankey
          br
          a(href='http://bl.ocks.org/Neilos/584b9a5d44d5fe00f779')
            img(width='133', src='https://cdn.rawgit.com/Neilos/584b9a5d44d5fe00f779/raw/926618763c8bac76ed6b561fdd789f931c3089cd/thumbnail.gif')
    | ## Basic Charts
    table
      tr(valign='top')
        td
          | Area Chart
          br
          a(href='http://bl.ocks.org/mbostock/3883195')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3883195/thumbnail.png')
        |     
        td
          | Line Chart
          br
          a(href='http://bl.ocks.org/mbostock/3883245')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3883245/thumbnail.png')
        |     
        td
          | Bivariate Area Chart
          br
          a(href='http://bl.ocks.org/mbostock/3884914')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3884914/thumbnail.png')
        |     
        td
          | Multi-Series Line Chart
          br
          a(href='http://bl.ocks.org/mbostock/3884955')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3884955/thumbnail.png')
      |   
      tr(valign='top')
        td
          | Stacked Area Chart
          br
          a(href='http://bl.ocks.org/mbostock/3885211')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3885211/thumbnail.png')
        |     
        td
          | Bar Chart
          br
          a(href='http://bl.ocks.org/mbostock/3885304')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3885304/thumbnail.png')
        |     
        td
          | Stacked Bar Chart
          br
          a(href='http://bl.ocks.org/mbostock/3886208')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3886208/thumbnail.png')
        |     
        td
          | Normalized Stacked Bar Chart
          br
          a(href='http://bl.ocks.org/mbostock/3886394')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3886394/thumbnail.png')
      |   
      tr(valign='top')
        td
          | Grouped Bar Chart
          br
          a(href='http://bl.ocks.org/mbostock/3887051')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3887051/thumbnail.png')
        |     
        td
          | Scatterplot
          br
          a(href='http://bl.ocks.org/mbostock/3887118')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3887118/thumbnail.png')
        |     
        td
          | Donut Chart
          br
          a(href='http://bl.ocks.org/mbostock/3887193')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3887193/thumbnail.png')
        |     
        td
          | Pie Chart
          br
          a(href='http://bl.ocks.org/mbostock/3887235')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3887235/thumbnail.png')
      |   
      tr(valign='top')
        td
          | Donut Multiples
          br
          a(href='http://bl.ocks.org/mbostock/3888852')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3888852/thumbnail.png')
        |     
        td
          | Bar Chart with Negative Values
          br
          a(href='http://bl.ocks.org/mbostock/2368837')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/2368837/thumbnail.png')
        |     
        td
          | Animated Donut Chart with Labels
          br
          a(href='http://bl.ocks.org/dbuezas/9306799')
            img(width='133', src='https://gist.githubusercontent.com/dbuezas/9306799/raw/ceb4d5cdaeebe4acd83d7cb1b1fe9cccb624ab5a/thumbnail.gif')
        |     
        td
          | Stacked Bar Charts on time scale
          br
          a(href='http://bl.ocks.org/anupsavvy/9513382')
            img(width='133', src='http://bl.ocks.org/anupsavvy/raw/9513382/thumbnail.png')
      |   
      tr(valign='top')
        td
          | Bar Chart Multiples
          br
          a(href='https://vida.io/documents/ZCzewTza4ZSzMWSBG')
            img(width='133', src='https://s3.amazonaws.com/vida-production/thumbnails/ZCzewTza4ZSzMWSBG')
        |     
        td
          | d3pie - pie chart generator and lib
          br
          a(href='http://d3pie.org')
            img(width='133', src='http://d3pie.org/website/images/d3pie-screenshot.png')
        |     
        td
          | 3D Donut
          br
          a(href='http://bl.ocks.org/NPashaP/9994181')
            img(width='133', src='http://bl.ocks.org/NPashaP/raw/9994181/thumbnail.png')
        |     
        td
          | Gradient Pie
          br
          a(href='http://bl.ocks.org/NPashaP/9999786')
            img(width='133', src='http://bl.ocks.org/NPashaP/raw/9999786/thumbnail.png')
      |   
      tr(valign='top')
        td
          | 100% Stacked Bars
          br
          a(href='https://live.zoomdata.com/zoomdata/visualization?__target=embedded&key=544fb187e4b0f4966438c4c3#51db7ad4e4b04caf9ab346db-5411ace4e4b065842f0df371')
            img(width='133', src='http://i57.tinypic.com/1pynhw.png')
        |     
        td
          | Interactive Scatterplot
          br
          a(href='https://live2.zoomdata.com/zoomdata/visualization?__target=embedded&key=546ca53ae4b0f6e2257e3295#54292b07e4b011a99e1252ba-5411ace4e4b065842f0df36e')
            img(width='133', src='http://i61.tinypic.com/2hq9s2b.png')
        |     
        td
          | Interactive Multi-Metric Bars
          br
          a(href='https://live2.zoomdata.com/zoomdata/visualization?__target=embedded&key=546df937e4b0f6e226bdeb04#51db7ad4e4b04caf9ab346db-53c6a37ae4b040073c0b32c5')
            img(width='133', src='http://i62.tinypic.com/nphqmu.png')
        |     
        td
          | United States Map with Mapbox Tiles
          br
          a(href='https://live2.zoomdata.com/zoomdata/visualization#53f22849e4b08f9d5f15360a-522655b0e4b00f4f3af30f12')
            img(width='133', src='http://i62.tinypic.com/rsfo79.png')
      |   
      tr(valign='top')
        td
          | Waterfall Chart
          br
          a(href='http://bl.ocks.org/chucklam/f3c7b3e3709a0afd5d57')
            img(width='133', src='http://bl.ocks.org/chucklam/raw/f3c7b3e3709a0afd5d57/thumbnail.png')
        |     
        td
          | Diverging Stacked Bar Chart
          br
          a(href='http://bl.ocks.org/wpoely86/e285b8e4c7b84710e463')
            img(width='133', src='http://bl.ocks.org/wpoely86/raw/e285b8e4c7b84710e463/thumbnail.png')
        |     
        td
          | Timeseries
          br
          a(href='http://mlvl.github.io/timeseries/')
            img(width='133', src='http://mlvl.github.io/timeseries/images/timeseries-sm.png')
    | ## Techniques, Interaction &amp; Animation
    table
      tr(valign='top')
        td
          | General Update Pattern
          br
          a(href='http://bl.ocks.org/mbostock/3808218')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3808218/thumbnail.png')
        |     
        td
          | Sortable Bar Chart
          br
          a(href='http://bl.ocks.org/mbostock/3885705')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3885705/thumbnail.png')
        |     
        td
          | van Wijk Smooth Zooming
          br
          a(href='http://bl.ocks.org/mbostock/3828981')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3828981/thumbnail.png')
        |     
        td
          | Progress Events
          br
          a(href='http://bl.ocks.org/mbostock/3750941')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3750941/thumbnail.png')
      |   
      tr(valign='top')
        td
          | Margin Convention
          br
          a(href='http://bl.ocks.org/mbostock/3019563')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3019563/thumbnail.png')
        |     
        td
          | Focus+Context via Brushing
          br
          a(href='http://bl.ocks.org/mbostock/1667367')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/1667367/thumbnail.png')
        |     
        td
          | Difference Chart
          br
          a(href='http://bl.ocks.org/mbostock/3894205')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/3894205/thumbnail.png')
        |     
        td
          | Pie Chart Update
          br
          a(href='http://bl.ocks.org/mbostock/1346395')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/1346395/thumbnail.png')
      |   
      tr(valign='top')
        td
          | Hexagonal Binning
          br
          a(href='http://bl.ocks.org/mbostock/4248145')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/4248145/thumbnail.png')
        |     
        td
          | Contour Plot
          br
          a(href='http://bl.ocks.org/mbostock/4241134')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/4241134/thumbnail.png')
        |     
        td
          | Build Your Own Graph
          br
          a(href='http://bl.ocks.org/mbostock/929623')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/929623/thumbnail.png')
        |     
        td
          | Modifying a Force Layout 
          br
          a(href='http://bl.ocks.org/mbostock/1095795')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/1095795/thumbnail.png')
      |   
      tr(valign='top')
        td
          | Spline Interpolation
          br
          a(href='http://bl.ocks.org/mbostock/4342190')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/4342190/thumbnail.png')
        |     
        td
          | Dispatching Events
          br
          a(href='http://bl.ocks.org/mbostock/5872848')
            img(width='133', src='http://bl.ocks.org/mbostock/raw/5872848/thumbnail.png')
        |     
        td
          | Better force layout selection
          br
          a(href='http://bl.ocks.org/couchand/6420534')
            img(width='133', src='http://bl.ocks.org/couchand/raw/6420534/thumbnail.png')
        |     
        td
          | v45 web theme using SVG
          br
          a(href='http://twistedhardware.github.io/theme-v45')
            img(width='133', src='http://twistedhardware.github.io/theme-v45/images/v45_snap_small.jpg')
      |   
      tr(valign='top')
        td
          | Interactive force layout
          br
          a(href='https://github.com/nylen/d3-process-map')
            img(width='133', src='http://i.imgur.com/LFM3KV5.png')
        |     
        td
          | EventDrops: Zoomable time series
          br
          a(href='https://github.com/marmelab/EventDrops')
            img(width='133', src='http://i.imgur.com/fNPhBZ8.gif')
        |     
        td
          | Draggable scatterplot with motion trails
          br
          a(href='http://romsson.github.io/dragit/example/nations.html')
            img(width='133', src='http://i.imgur.com/gqnuQzb.gif')
        |     
        td
          | Horizontally grouped bar chart
          br
          a(href='http://bl.ocks.org/erikvullings/51cc5332439939f1f292')
            img(width='133', src='http://bl.ocks.org/erikvullings/raw/51cc5332439939f1f292/thumbnail.png')
