//carousel
.container
	.carousel.slide(data-ride="carousel")
		.carousel-inner
			.item.active
				img(src="images/slide-1.jpg" width="100%")
			.item
				img(src="images/slide-2.jpg" width="100%")
			.item
				img(src="images/slide-3.jpeg" width="100%")
