meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="")
meta(name="author" content="William Bai")
title 数据可视化
link(rel="stylesheet", href="css/bootstrap.css")
link(rel="stylesheet", href="css/normalize.css")
link(rel="stylesheet", href="css/main.css")
link(rel="stylesheet", href="css/colorPicker.css")
link(rel="stylesheet", href="css/chartbuilder.css")
link(rel="stylesheet", href="css/gneisschart.css")
link(rel="stylesheet", href="css/colorPicker.css")
script(type="text/javascript" src="js/jquery.js")
script(type="text/javascript" src="js/bootstrap.js")
script(type="text/javascript" src="js/modernizr.js")
script(type="text/javascript" src="js/d3.v2.min.js")
script(type="text/javascript" src="js/canvg.js")
script(type="text/javascript" src="js/index.js")
script(type="text/javascript" src="js/jquery.colorPicker.min.js")
script(type="text/javascript" src="js/webfont.js")
script(type="text/javascript" src="js/sugar.min.js")
script(type="text/javascript" src="js/gneisschart.js")
script(type="text/javascript" src="js/chartbuilder.js")