.navbar.navbar-default.navbar-fixed-bottom
	.nav.nav-justified
		li
			a(href="#manage").glyphicon.glyphicon-home &nbsp;待审批
		li
			a(href="#").glyphicon.glyphicon-star &nbsp;我的请假
		li
			a(href="#apply").glyphicon.glyphicon-star &nbsp;请假
