extends ./layout/layout

block content
	.container
		h2 人脸识别
		p 请选择”允许浏览器开启摄像头“功能，否则不能使用。
		div(id="my_camera").camera-viewpoint
		br
		button(id="controller").btn.btn-primary 停止
		h2 摄像头快照
		p 快照自右向左连续显示。
		.row(id="my_snaps")
			.col-md-2
				img(src="images/demo.jpg" width="100%")
			.col-md-2
				img(src="images/demo.jpg" width="100%")
			.col-md-2
				img(src="images/demo.jpg" width="100%")
			.col-md-2
				img(src="images/demo.jpg" width="100%")
			.col-md-2
				img(src="images/demo.jpg" width="100%")
			.col-md-2
				img(src="images/demo.jpg" width="100%")
		hr
		h2 人脸提取			
		.row(id="my_faces")
			.col-md-2
				img(src="images/demo.jpg" width="100%")
			.col-md-2
				img(src="images/demo.jpg" width="100%")
			.col-md-2
				img(src="images/demo.jpg" width="100%")
			.col-md-2
				img(src="images/demo.jpg" width="100%")
			.col-md-2
				img(src="images/demo.jpg" width="100%")
			.col-md-2
				img(src="images/demo.jpg" width="100%")
		h2 身份证照片
		.row(id="my_pics")
		hr
		h2 比较结果
		.row(id="my_diff")
	script(type="text/javascript" src="js/main.js")