doctype html
html(lang="zh-CN")
	head
		include ../include/head
	body(id="wrapper")
		//header
		include ../include/header
		
		div(id="page-content-wrapper")
			block content
		//footer
		include ../include/footer
	block script