doctype html
html(lang="zh-CN")
	head
		include ../include/head
	body(id="wrapper")
		//header
		include ../include/header
		
		div(id="page-content-wrapper")
			block content
		//footer
		div.container
			hr
			p.text-center 来播网 @2014-2015 版权所有 苏ICP备14016208号-1
	block script